*{
	box-sizing:border-box;
}

html, body{
	background: black;
	color: white;
	font-family: "Helvetica", arial, sans-serif;
	padding: 0;
	margin:0;
}

#omnifeed{
	background:black;
	height: 720px;
	position: relative;
	margin:1em;
}


article{
	border:2px solid white;
	border-radius: 5px;
	margin-bottom: 1em;
	padding:7px 14px;
	position: relative;
	transition-duration:0.2s;
	width: 100%;
}

article>img{
	border:2px white;
	border-radius: 2px;
	margin:5px;
	float:right;
	width: 150px;
	height: 150px;
	background: gray;
	background-size: cover;
	background-position: center center;
	margin-left: 2em;
}

article>h1{
	margin:0;
	font-size: 32px;
	line-height: 1;
}

article>time{
	font-size: 10px;
	line-height: 0.8;
}

article>div{
	font-size: 14px;
}

article>div>p{
	margin:0.5em 0;
	letter-spacing: 1.2;
}

article>span{
	font-size: 10px;
	margin-top: 1em;

}

article:after{
	display: block;
	content:" ";
	clear:both;
}
